*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1d1e22;
    font-family: 'Poppins', sans-serif;

}

.circle{
    display: grid;
    place-items: center;
    width: 200px;
    height: 200px;
    margin: 0 20px;
    border-radius: 50%;
    cursor: default;
    background: #fff;

}



.circle .circle-inner{
    display: grid;
    place-items: center;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: #1d1e21;
    font-size: 25px;
    color: rgb(255, 255, 255);

}
.circle .circle-inner:hover{
    font-size: 32px;
    color: rgb(170, 2, 148);
    transition: 0.7s;
}
.circle.aqua{
    color: rgb(76, 0, 255);
    background: conic-gradient(rgb(186, 228, 228) 0 77%, #303238 87% 100%);
}

.circle.pink{
    color: hotpink;
    background: conic-gradient(rgb(51, 112, 104) 0 64%, #303238 74% 100%);
}

.circle.gold{
    color: gold;
    background: conic-gradient(gold 0 53%, #303238 63% 100%);
}